.file-desc-title {
    -fx-font-size: 20;
}

.file-desc {
    -fx-font-size: 15;
}

.table-data {
    -fx-font-size: 13;
}

.search-field {
    -fx-font-size: 14;
}

.window-title {
    -fx-font-size: 25;
}

.info-font-size {
    -fx-font-size: 14;
}

